/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3rem;

  /*========== Colors ==========*/

  --first-color: #a29596;
  --primary: #a29596;
  --second-color: #33303d;
  --black-color: #111111;
  --white-color: #fff;

  /*========== Font and typography ==========*/
  --body-font: "Roboto", sans-serif;
  --biggest-font-size: 1.5rem;
  --big-font-size: 1.5rem;
  --normal-font-size: 0.938rem;
  --smaller-font-size: 0.75rem;

  /*========== z index ==========*/
  --z-fixed: 1000;
  --z-modal: 100;

  /*========Font weight====== */
  --font-medium: 500;
  --font-bold: 700;
}

/* Responsive typography */
@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 3.25rem;
    --big-font-size: 2.25rem;
    --normal-font-size: 1rem;
    --smaller-font-size: 0.813rem;
  }
}

/*=============== BASE ===============*/
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--body-font);
  background-color: var(--white-color);
  color: var(--black-color);
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}
/*=====
========== REUSABLE CSS CLASSES ===============*/

/*=============== LAYOUT ===============*/
.grid {
  max-width: 1024px;
  margin-left: 1rem;
  margin-right: 1rem;
}

/*=============== HEADER ===============*/
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--white-color);
}
/*=============== NAV ===============*/

/*=============== MEDIA QUERIES ===============*/
/* For small devices */
/* Remove if you choose, the minimalist design */

/* For medium devices */

/* For large devices */
